<div class="container">

    <div class="row">

        <div class="col-3">
            <div class="nav nav-pills me-3 flex-column " aria-orientation="vertical" >
                <button class="nav-link" data-bs-toggle="pill" type="button" role="tab" aria-selected="true"
                    [routerLink]="['new']">
                    Przelew krajowy
                </button>

                <button class="nav-link" data-bs-toggle="pill" type="button" role="tab" aria-selected="true"
                    [routerLink]="['own']"
                    routerLinkActive="active-link">
                    Przelew własny
                </button>

                <button class="nav-link" data-bs-toggle="pill" type="button" role="tab" aria-selected="true"
                    [routerLink]="['foreign']">
                    Przelew walutowy / zagraniczny
                </button>

                <button class="nav-link" data-bs-toggle="pill" type="button" role="tab" aria-selected="true"
                    [routerLink]="['tax']">
                    Przelew podatkowy
                </button>

                <button class="nav-link" data-bs-toggle="pill" type="button" role="tab" aria-selected="true"
                    [routerLink]="['tax']">
                    Doładowanie telefonu
                </button>

                <button class="nav-link" data-bs-toggle="pill" type="button" role="tab" aria-selected="true"
                    [routerLink]="['tax']">
                    Otwarta bankowość
                </button>
            </div>
        </div>

        <div class="col">
            <router-outlet></router-outlet>
        </div>
    </div>